/*Global Attributes*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family: RobotoCondensed-ExtraBold,sans-serif;
    text-align: center;
    text-decoration: underline;
}

/*Webpage Fonts*/
@font-face {
    font-family: RobotoCondensed-ExtraBold;
    src: url(../fonts/RobotoCondensed-ExtraBold.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

/*Header section*/
.container{
    display: flex;
    align-items: center;
}
header{
    background-color: black;
    color: white;
    font-family: Poppins-Regular,monospace;
}
.header-logo{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/*Footer Section*/
footer{
    background-color: black;
    color: white;
    font-family: monospace;
}
footer a{
    color: rgb(128, 128, 128);
}

/*Navigation Bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
    width: 80%;
}
nav li{
    margin-right: 10px;
}
nav li:last-child{
    margin-right: 0;
}
nav li a{
    text-align: center;
    text-decoration: none;
    color: blue;
    display: block;
    padding: 10px;
}
nav li a:visited{
    color: green;
}
nav li:hover a{
    color: red;
}

/*Search Bar*/
.float-to-right{
    float: right;
}
.search-bar-style{
    display: flex;
    align-items: center;
}
.search-input{
    padding: 5px;
    border: solid;
    border-radius: 3px;
    margin-right: 10px;
}
.btn-style{
    padding: 5px 10px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



/*Overview Section*/
.overview{
    background-color: #7798ab;
}

/*Contact Information Section*/
.contacts{
    background-color: #F28F3B;
}

/*Testimonial Highlights Section*/
.testimonial{
    background-color: #7FB069;
}
