/*General Formatting*/
*{
    margin: 0; /*Set all margins to zero*/
    padding: 0; /*Set all paddings to zero*/
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    background-image: linear-gradient(to right,#FFD700,#B87333);
}
h1{
    font-family: Lora-SemiBoldItalic;
    color: #26619C;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: blue;
}
h3{
    font-family: monospace;
    text-decoration: underline;
    padding-bottom: 3px;
    color: #B7A6F7;
}
h4{
    padding: 5px;
    margin-top: 5px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightcoral;
    font-style: italic;
}
footer{
    background-image: linear-gradient(to top,#40E0D0,#26619C);
}
.copyright-center{
    text-align: center;
}

/*Font formatting*/
@font-face {
    font-family: 'Lora-SemiBoldItalic';
    src: url(../fonts/Lora-SemiBoldItalic.ttf);
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

/*Section A - Index.html*/

/*redirect arrow formatting*/
#scroll-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 9999;
}
/*logo formatting*/
.webpage_logo{
  display: flex;
  align-items: center; 
  width: 35%; 
}
.logo-format{
    width: 14%;
    padding-left: 10px;
    margin-right: 10px;
}
/*main menu formatting*/
.main-menu-container{
   text-align: right;
   width: 65%;
   margin-right: 35px;
}
.main-menu-navigation ul{
    list-style-type: none;
}
.main-menu-navigation ul li{
    display: inline-block;
    margin-right: 15px;
}
.main-menu-navigation ul li a{
    text-decoration: none;
    padding: 10px;
    font-family: Ubuntu-Regular;
    transition: color 0.5s ease;
}
.main-menu-navigation ul li a:hover{
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-image:linear-gradient(to top,#ff8c00,#008080);
    color: white;
    font-weight: bolder;
}

/*navigation link fade down*/
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.fade-down{
    animation: fade-down 0.5s 0.4s backwards;
}
/*Popular series image formats*/
.multiple-content-container{
    padding: 5px;
}
.image-format{
    max-width: 110px;
    vertical-align: middle;
}
.section-header{
    text-align: left;
    padding-bottom: 5px;
    width: 15%;
    border-bottom: 1px solid black;
}
.inline-block{ 
    display: inline-block;
    margin: 5px;
    padding: 3px;
}
/*Shop card image formats*/
@keyframes fadeIn {
    from{ opacity: 0;}
    to{opacity: 1;}
}
.card-hover-container{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.card-hover-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 260px;
}
.card-hover-container p:hover{
    color: darkorange;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.image-card-format{
    display:block;
    width: 300px;
    height: 250px;
    padding: 5px;
}
.rectangle-container{
    background-color: black;
    color: white;
    margin: 5px;
    padding: 15px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    transform: translateY(-119%);
}
.card-Message{
    text-align: center;
}
/*Newsletter section*/
/*github image format*/
.socials-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials-format{
    width: 50px;
}
.center-subscription{
    text-align: center;
    padding: 5px;
}
.input-format{
    padding: 5px;
    border-radius: 2em;
    border: 1px solid black;
}
.submit-btn-style{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: orange;
}
.newsLetter-section{
    background-image: url(../images/gundam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -200px;
}

/*footer column formatting*/

/*Create three columns that float next to each other*/
.column{
    text-align: center;
    float: left;
    width: 33%;
    padding: 10px;
}
/*Clears floats after the column*/
.columnRow:after{
    content: "";
    display: table;
    clear: both;
}
.column-links{
    list-style-type: none;
}

/*Section B - AboutUs.html*/
.aboutLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(../images/winter_anime_couple.jpg);
}
.statement-body-format{
    width: 80%;
    margin: 10px;
    border-radius: 20px;
    background-color: rgba(211,211,211,0.8);
}
.span-format{
    color: rgb(255, 140, 0);
    font-style: italic;
    border-bottom: 2px solid black;
}
.center-statement{
   display: flex;
   justify-content: center;
}
.statement-format{
    text-align: center;
    font-size: larger;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
    margin: 5px;
    padding: 10px;
}
.center-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.center-btn a{
    text-decoration: none;
}
.center-btn a:hover{
    color: white;
    transition: 0.5s ease;
}
.center-btn a:active{
    background-color: lightgrey;
}
.btn-style{
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkorange;
    font-weight: bolder;
}

/*Section C - contact.html*/
.fixed-image-format{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(../images/animeOasisWarehouse.jpg); 
    position: relative;
    overflow: hidden;
}
.fixed-image-format::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(211,211,211,0.5),rgba(211,211,211,0.5));
    pointer-events: none;
    z-index: 1;
}
.subsection-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subsection-img-format{
    text-align: center;
    width: 50%;
}
.image-subsection-format{
    width: 100%;
    padding: 15px;
    border-radius: 50px;
}
.subsection-statementFormat{
    text-align: left;
    width: 50%;
}
.span-titleSubsection-format{
    border-bottom: 2px dotted black;
    padding-bottom: 5px;
}
.faq-subsection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-columnRow{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-column{
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
    text-align: center;
}
.dropDown-toggle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFD580;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .dropDown-toggle:hover{
    background-color: darkorange;
}
.answer-container{
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: #f1f1f1;
}
.inquiry-subsection-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inquiry-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
}
.inquiry-image-format{
    width: 230px;
    padding: 15px;
    height: auto;
}
.inquiry-header{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
}
.inquiry-btn-format{
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
}
.inquiry-btn-format:hover{
    background-color: darkgray;
    color: white;
}
.inquiry-btn-format:active{
    background-color: darkgrey;
    color: darkblue;
}

/*Pop Up form formatting*/
.formModel{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.formModelContent{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
}
.form-statements{
    text-align: center;
    opacity: 0.5;
    font-size: medium;
    margin-bottom: 10px;
}
.closeBtnContainer{
    text-align: center;
}
.closeBtn{
    font-size: 25px;
    border: 2px solid black;
    background-color: lightslategrey;
    border-radius: 50%;
    padding:5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.closeBtn:hover{
    background-color: darkgray;
    color: white;
    cursor: pointer;
}
.closeBtn:active{
    color: blue;
}
label{
    font-weight: bold;
   font-family: monospace;
   display: inline-block;
   text-align:  right;
   vertical-align: middle;
   width: 180px;
}
input{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    vertical-align: top;
}
.formModelContent form textarea{
    margin-bottom: 10px;
    width: 100%;
}
.formSubmitBtnContainer{
    text-align: center;
}
.formSubmitBtn{
    padding: 12px;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}
.formSubmitBtn:hover{
    background-color: darkgray;
    color: white;
}
.formSubmitBtn:active{
    color: blue;
}

