/*General Formatting*/
*{
    margin: 0; /*Set all margins to zero*/
    padding: 0; /*Set all paddings to zero*/
    box-sizing: border-box;
}


h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin: 5px 0 5px 0;
}
h3{
    font-weight: light;
    text-decoration: underline;
}
/*Create a smooth background for body*/
body{
    background-color: #007BFF;
}
/*Format footer to be center of page*/
footer{
    text-align: center;
}

/*Format navigation bar to fit on one line*/
nav{
    text-align: right; /*Text align nav bar to the right*/
    animation: fadeDown 0.5s;/*Crate fade down animation for nav container*/
    margin-right: 65px;
}
nav li{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: larger;
    text-align: center;
}
nav li a{
    text-decoration: none; /*Get rid of underlines on links*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.5s ease, font-size 0.5s ease, font-weight 0.5s ease; /*Create transition effect for links when hovering over them*/
}
/*Create hover effect on nav links*/
nav li a:hover{
    font-weight: bolder; /*Create bold effect when hovering*/
    font-size: 1.2em; /*Make font larger when hovering*/
    color: aqua; /*Change color when hovering*/
}

/*Create and format container for creator pic and links*/
.creatorContainer{
   overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*format creator pic to fit better on page and float it to the right*/
.creatorContainer img{
    float: right;
    margin-right: 10px;
    max-width: 400px;
    padding: 10px;
}

/*Format button group container to have it sit next to creator picture*/
.buttonGroup{
    display: flex;
    flex-direction: column;
    width: 10%;
}
/*Format shape of button to make it more appealing to user*/
.btnFormat{
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    margin: 15px;
    background-color: lightcyan;
}
/*Format button links to have no style*/
.btnFormat a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Create button format when user hovers over dummy links*/
.btnFormat:hover{
    background-color: darkcyan;
    font-weight: bolder;
}

/*Create container to contain pricing formats and format it as a grid*/
.pricingGridContainer{
    display: grid;/*Display container as a grid*/
    grid-template-columns: repeat(3,1fr);
    gap: 20px;/*Adjust space between grid items*/
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}
.pricingFormat{
    text-align: center;/*Align items center*/
    margin:20px ;
    background-color: #251351;
    border-radius: 10px;
    color: white;
    padding: 25px;
}
.pricingListFormat{
    margin: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.priceBtnFormat{
    background-color: lightgray;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.priceBtnFormat:hover{
    background-color: darkgray;
}

/*Create contact container for user to contact creator*/
.contactContainer{
    display: grid;
    grid-template-columns: 1fr 2fr; /*Adjust column ratio as needed*/
}
.businessGeoLocation, .contactForm{
    padding: 20px;
}
.businessGeoLocation{
    background-color: #f0f0f0;;
}
.contactForm{
    background-color: #ffffff;
}
.address{
    margin-bottom: 20px;
    font-size: 16px;
}
/*Navigation bar fadeDown animation*/
@keyframes fadeDown{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
