/*General Formatting*/
*{
    margin: 0; /*Set all margins to zero*/
    padding: 0; /*Set all paddings to zero*/
    box-sizing: border-box;
}

/*Create a smooth background for body*/
body{
    background-color: #007BFF;
}

/*Format navigation bar to fit on one line*/
nav{
    text-align: right; /*Text align nav bar to the right*/
    animation: fadeDown 0.5s;/*Crate fade down animation for nav container*/
}
nav li{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
nav li a{
    text-decoration: none; /*Get rid of underlines on links*/
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

/*Navigation bar fadeDown animation*/
@keyframes fadeDown{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
