/*General Formatting*/
*{
    margin: 0; /*Set all margins to zero*/
    padding: 0; /*Set all paddings to zero*/
    box-sizing: border-box;
}

/*Create a smooth background for body*/
body{
    background-color: #007BFF;
}
/*Format footer to be center of page*/
footer{
    text-align: center;
}

/*Format navigation bar to fit on one line*/
nav{
    text-align: right; /*Text align nav bar to the right*/
    animation: fadeDown 0.5s;/*Crate fade down animation for nav container*/
    margin-right: 65px;
}
nav li{
    list-style-type: none;
    display: inline-block;
    width: 100px;
    padding: 10px;
    font-size: larger;
    text-align: center;
}
nav li a{
    text-decoration: none; /*Get rid of underlines on links*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.5s ease, font-size 0.5s ease, font-weight 0.5s ease; /*Create transition effect for links when hovering over them*/
}
/*Create hover effect on nav links*/
nav li a:hover{
    font-weight: bolder; /*Create bold effect when hovering*/
    font-size: 1.2em; /*Make font larger when hovering*/
    color: aqua; /*Change color when hovering*/
}

/*Create and format container for creator pic and links*/
.creatorContainer{
   overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*format creator pic to fit better on page and float it to the right*/
.creatorContainer img{
    float: right;
    margin-right: 10px;
    max-width: 400px;
    padding: 10px;
}

/*Format button group container to have it sit next to creator picture*/
.buttonGroup{
    display: flex;
    flex-direction: column;
    width: 10%;
}
/*Format shape of button to make it more appealing to user*/
.btnFormat{
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    margin: 15px;
    background-color: lightcyan;
}
/*Format button links to have no style*/
.btnFormat a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Create button format when user hovers over dummy links*/
.btnFormat:hover{
    background-color: darkcyan;
    font-weight: bolder;
}

/*Navigation bar fadeDown animation*/
@keyframes fadeDown{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
